body {
    display: grid;
    margin: 0;
    resize: both;
    grid-template-rows: 300px  500px 130px;
    grid-template-columns: 630px 1fr;
    grid-template-areas:
        "area_edit     area_setting"
        "area_map      area_setting"
        "area_map      area_set"
}

area_edit {
  grid-area: area_edit;
  overflow-y:scroll;
  background-color: rgb(180, 180, 180);
  border:3px solid  rgb(222, 222, 222); 
}
area_map {
  grid-area: area_map;
}

area_setting {
  grid-area: area_setting;
  overflow-y:scroll;
  background-color: rgb(180, 180, 180);
  border:3px solid  rgb(222, 222, 222); 
}
area_set{
  grid-area: area_set;
}

.button_set_id{

}

#sample1 tr,
#sample1 th,
#sample1 td {
    background-color: rgb(240, 240, 240);
}
#sample1 thead,
#sample1 tfoot {
    background-color: rgb(180, 180, 180);
}
#sample1 {
    border:3px solid  rgb(180, 180, 180); 
}
#sample1 thead {
}
#sample1 tfoot {
}

#sample2 tr,
#sample2 th,
#sample2 td {
    background-color: rgb(240, 240, 240);
}
#sample2 thead,
#sample2 tfoot {
    background-color: rgb(180, 180, 180);
}
#sample2 {
    border:1px solid  rgb(180, 180, 180); 
}
#sample2 thead {
}
#sample2 tfoot {
}

div#div_map_img_id{
    position: relative;
    width:1fr;  
    height:1fr; 
}
div#div_map_img_id>*{
    position: absolute;
}
canvas#cvn_bg_map_id{
    border:1px solid rgb(145, 145, 145); 
}
canvas#cvn_top_map_id{
    border:1px solid rgb(161, 161, 161); 
}

#init_button_id {

}
#drawmode_button_id {

}
#set_polygon_button_id {

}

#json_button_id {
   
}
#clear_button_id {
 
}
#clear_all_button_id {
    
}
#restore_button_id {
    
}
#open_button_id {

}
div#txt_log_id{
    font-size: 10px; 
    width:1fr;  
    height:1fr; 
    border:1px solid black; 
    overflow:auto 
}
.area1{
  margin: 5px; 
}
.area2{
  margin: 5px;  
}
.area3{
  margin: 5px
}