body {
    display: grid;
    margin:2;
    resize: both;
    grid-template-rows: 40px  500px 130px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "area_header  area_header  area_header"
        "area_edit  area_map  area_setting"
        "area_edit  area_map  area_set"
}
area_header{
  grid-area: area_header;
}
area_edit {
  grid-area: area_edit;
  overflow-y:scroll;
  background-color: rgb(180, 180, 180);
  border:3px solid  rgb(222, 222, 222); 
}
area_map {
  grid-area: area_map;
    border:3px solid  rgb(222, 222, 222); 
}

area_setting {
  grid-area: area_setting;
  overflow-y:scroll;
  background-color: rgb(180, 180, 180);
  border:3px solid  rgb(222, 222, 222); 
}
area_set{
  grid-area: area_set;
}

.set_button_id{
  position: relative;
  width:100%;
  height:120px;
  font-size: 200% ;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #000;
  background: rgb(180, 180, 180);/*背景色*/
  border-bottom: solid 2px rgb(120, 120, 120);/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.set_button_id:active {
    border-bottom: solid 2px rgba(255,255,255,0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.set_button_wrapper{
  margin:5px;
  text-align:center;
}
#sample1 tr,
#sample1 th,
#sample1 td {
    background-color: rgb(240, 240, 240);
}
#sample1 thead,
#sample1 tfoot {
    background-color: rgb(180, 180, 180);
}
#sample1 {
    border:3px solid  rgb(180, 180, 180); 
}
#sample1 thead {
}
#sample1 tfoot {
}

#sample2 tr,
#sample2 th,
#sample2 td {
    background-color: rgb(240, 240, 240);
}
#sample2 thead,
#sample2 tfoot {
    background-color: rgb(180, 180, 180);
}
#sample2 {
    border:1px solid  rgb(180, 180, 180); 
}
#sample2 thead {
}
#sample2 tfoot {
}

div#div_map_img_id{
    position: relative;
    width:1fr;  
    height:1fr; 
}
div#div_map_img_id>*{
    position: absolute;
}
canvas#cvn_bg_map_id{
    border:1px solid rgb(145, 145, 145); 
}
canvas#cvn_top_map_id{
    border:1px solid rgb(161, 161, 161); 
}

#init_button_id {

}
#drawmode_button_id {

}
#set_polygon_button_id {

}

#json_button_id {
   
}
#clear_button_id {
 
}
#clear_all_button_id {
    
}
#restore_button_id {
    
}
#open_button_id {

}
div#txt_log_id{
    font-size: 10px; 
    width:1fr;  
    height:1fr; 
    border:1px solid black; 
    overflow:auto 
}
.area1{
  margin: 5px; 
}
.area2{
  margin: 5px;  
}
.area3{
  margin: 5px
}