@import url("./css/sanitize.css");

body {
    display: grid;
    margin: 3px;
    resize: both;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 200px 1fr;
    box-shadow: 1px 1px 2px;
    grid-template-areas:
        "area_title       area_title"
        "area_menu        area_contents  "
}

area_title {
    grid-area: area_title;
    border:1px solid rgb(235, 233, 233); 
}

area_menu {
    grid-area: area_menu;
    border:1px solid rgb(235, 233, 233); 
}
area_contents {
    grid-area: area_contents;
    border:1px solid rgb(235, 233, 233); 
}

.div_area_contents_id{
    margin: 5px;
}

.iframe_main{
    margin:auto;
    color: #5d627b;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.iframe_main p {
    margin: 0; 
    padding: 0;
}

.title{
    text-align:center;
    padding: 10px;
}
.div_area_menu_id{
    margin-left: 10px;
    padding: 3px;
}
.div_area_option_id{

    margin-left: 10px;
    padding: 3px;
}